/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-family: "Times New Roman";
	font-style: italic;
	font-weight: bold;
	selection-color: #1A1919;
	symbol-color: #F5EEEE;
}
	